/*Resolucion  en celulkares medianos*/
@media (min-width: 426px) and (max-width: 768px){
    body{
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    /*Formulario de registro*/
    .register{
        width: 400px;
        height: 590px;
    }
    .title-main{
        text-align: center;
        font-size: 50px;
    }
    .section:nth-of-type(1) and .section:nth-of-type(2) and .section:nth-of-type(3) and .section:nth-of-type(4){
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*elementos de la primera y segunda seccion*/
    label:nth-child(1){
        font-size: 20px;
        margin-left: 10%;
    }
    /*Seccion nuemero 2*/
    .section:nth-of-type(2){
        width: 90%;
        height: 25%;
    }
    /*Seccion nuemero 3*/
    .section:nth-of-type(3){
        width: 90%;
        height: 25%;
    }
    .section:nth-of-type(4){
        width: 90%;
        height: 30%;
    }
    /*elementos de la primera y segunda seccion*/
    label:nth-child(1){
        font-size: 1.9em;
        margin-bottom: 15px;
    }
    /*input text*/
    input[type="text"]:nth-child(2){
        width: 80%;
        height: 50%;
        font-size: 20px;
        border: none;
        border-radius: 38px;
    }
    button{
        width: 140px;
        height: 70px;
        font-size: 25px;
    }
    .input-chk{
    width: 25px;
    height: 25px;
}
}
