@import url(T-R-Mobile-S-320PX.css);
@import url(T-R-Mobile-M-375PX.css);
@import url(T-R-Mobile-L-425PX.css);
@import url(T-R-Tablet-768PX.css);
@import url(T-R-Laptop-1024PX.css);
@import url(T-R-Laptop-L-1440PX.css);