/*Resolucion  en celulkares medianos*/
@media(max-width: 425px){
    /*Encabezado de los terminos*/
    footer{
        height: 10%;
        margin-bottom: 20px;
    }
    .title-terminos{
        font-size: 22px;
    }
    /*el parrafo de todos los datos*/
    
}