/*contenedor de camisas*/
.div-camisas{
    height: 25%;
    background: linear-gradient(45deg, rgb(150, 0, 0)25%, rgb(71, 20, 20) 50%, rgb(66, 1, 1) 75%, black 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}
/*contenedores para el difuminado*/
.difuminado{
    position: absolute;
    margin: 0;
    z-index: 0;
}
:where(.div-camisas) .difuminado:nth-child(1){
    width: 300px;
    height: 300px;
    top: 60%;
    left: 90%;
    border-radius: 50%;
    background: radial-gradient(rgba(27, 0, 0, 0.3) 0%, rgba(82, 3, 3, 0.3) 100%);
    box-shadow: 0px 0px 10px 10px rgba(82, 3, 3, 0.3);
}
:where(.div-camisas) .difuminado:nth-child(2){
    width: 200px;
    height: 200px;
    top: 70%;
    left: 40%;
    border-radius: 50%;
    background: radial-gradient(rgba(27, 0, 0, 0.3) 0%, rgba(82, 3, 3, 0.3) 100%);
    box-shadow: 0px 0px 10px 10px rgba(82, 3, 3, 0.3);
}
:where(.div-camisas) .difuminado:nth-child(3){
    width: 500px;
    height: 500px;
    left: 1%;
    bottom: 40%;
    border-radius: 50%;
    background: radial-gradient(rgba(27, 0, 0, 0.3) 0%, rgba(82, 3, 3, 0.3) 100%);
    box-shadow: 0px 0px 10px 10px rgba(82, 3, 3, 0.3);
}

/*Contenedor que sirve para centrar*/
.div-center{
    width: 95%;
    height: 90%;
    justify-content: center;
    align-items: center;
}
/*seccion de camisas*/
.S-C-H, .S-C-M{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.S-C-H{
    width: 100%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}
.S-C-M{
    width: 100%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 5px;
}
/*Secciones hombre y mujer*/
.div-area-js{
    width: 80%;
    height: 90%;
    background-color:  rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin-right: 15px;
}

/*Titulos generales para todas las secciones*/
.section-title-general{
    width: 20%;
    height: 24%;
    text-align: center;
}