@import url(p-r-mobile-s-320px.css);
@import url(p-r-mobile-m-375px.css);
@import url(p-r-mobile-l-425px.css);
@import url(p-r-tablet-768px.css);
@import url(p-r-laptop-1024px.css);
@import url(p-r-laptop-l-1440px.css);
