#main-dialog-busqueda{
    width: 100%;
    height: 100%;
    position: fixed;
    border: none;
    background-color: rgba(0, 0, 0, 0.678);
    border-radius: 15px;
    color: white;
    font-weight: 500;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*Primea generacion......................................................*/
.div-dialog-busqueda{
    background-color: rgb(116, 0, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    width: 80%;
    height: 80%;
}
/*Segunda generacion......................................................*/
.dialog-div-contenido:nth-of-type(1){
    width: 100%;
    height: 20%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.377);
}
#dialog-div-img{
    width: 100%;
    height: 70%;
}
.dialog-div-contenido:nth-child(3){
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.377);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 15px 15px;
}
/*Tercera generacion......................................................*/
/*Primera generacion de la Segunda.......................................*/
.dialog-h1-titulo{

}
.p-dialog-busqueda{
    margin-left: 5%;
    margin-top: 10px;
}
/*Tercera generacion de la Segunda.......................................*/
#button-dialog-cerrar{
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 15px;
    background-color: rgb(117, 105, 105);
    color: white;
    cursor: pointer;
}