@import url(s-r-mobile-s-320px.css);
@import url(s-r-mobile-m-375px.css);
@import url(s-r-mobile-l-425px.css);
@import url(s-r-tablet-768px.css);
@import url(s-r-laptop-1024px.css);
@import url(s-r-laptop-l-1440px.css);
    body{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(158, 27, 27) 40%, rgb(255, 0, 0) 50%, rgb(194, 74, 130)5%, rgb(0, 0, 0) 100%);
        color: rgb(0, 0, 0);
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
    }
    main{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(158, 27, 27) 40%, rgb(255, 0, 0) 50%, rgb(194, 74, 130)5%, rgb(0, 0, 0) 100%);
        color: rgb(0, 0, 0);
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
    }

    /*Formulario de registro*/
    .register{
        width: 300px;
        height: 400px;
        border-radius: 5%;
        box-shadow: 1px 3px 10px black;
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #dialog_autentic{
        width: 300px;
        height: 400px;
        border-radius: 5%;
        box-shadow: 1px 3px 10px black;
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: -1;
        position: fixed;
    }
    .title-main{
        text-align: center;
        font-size: 36px;
    }
    /*Seccion nuemero 1*/
    .section:nth-of-type(1) and .section:nth-of-type(2) and .section:nth-of-type(3) and .section:nth-of-type(4){
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section:nth-of-type(1){
        width: 90%;
        height: 20%;
        text-align: center;
    }
    /*elementos de la primera y segunda seccion*/
    label:nth-child(1){
        font-size: 20px;
        margin-left: 10%;
    }
    /*input text*/
    input[type="tel"]{
        width: 210px;
        height: 50px;
        border-radius: 20px;
        border: none;
        margin-left: 10%;
        margin-top: 10px;
        font-size: 13px;
        color: rgb(59, 7, 7);
        background-color: rgba(255, 255, 255,0.8);
    }
    input[type="text"]{
        width: 210px;
        height: 50px;
        border-radius: 20px;
        border: none;
        margin-left: 10%;
        margin-top: 10px;
        font-size: 13px;
        color: rgb(59, 7, 7);
        background-color: rgba(255, 255, 255,0.8);
    }
    input[type="email"]{
        width: 210px;
        height: 50px;
        border-radius: 20px;
        margin-left: 10%;
        margin-top: 10px;
        font-size: 13px;
        color: rgb(59, 7, 7);
    }
    input[type="password"]{
        width: 210px;
        height: 50px;
        border-radius: 20px;
        margin-left: 10%;
        margin-top: 10px;
        font-size: 13px;
        color: rgb(59, 7, 7);
    }
    .btn_admin{
        position: absolute;
        top: 1%;
        left: 1%;
        width: 70px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.01);
        opacity: 0.1;
    }
    
    /*Seccion nuemero 2*/
    .section:nth-of-type(2){
        width: 90%;
        height: 25%;
    }
    /*Seccion nuemero 3*/
    .section:nth-of-type(3){
        width: 90%;
        height: 25%;
    }
    .section:nth-of-type(4){
        width: 90%;
        height: 30%;
    }
    /*elementos de la seccion 3 el boton*/
    .boton-siguiente{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .div-chk{
        display: flex;
        align-items: center;
    }
    .input-chk{
        width: 15px;
        height: 15px;
        margin-right: 5px;
        padding: 20px;
    }
    .input-chk:hover{
        cursor: pointer;
    }
    button{
        width: 100px;
        height: 50px;
        border-radius: 15px;
        border: none;
    }
    button:hover{
        background-color: rgb(129, 18, 18);
        cursor: pointer;
        color: white;
    }
    a:hover{
        cursor: pointer;
        color: rgb(129, 18, 18);
    }
    #panel-admin{
        width: 80%;
        height: 80%;
        position: fixed;
        
    }