@media (min-width: 376px) and (max-width: 425px){
    body{
        font-size: 11px;
    }
    footer{
        height: 10%;
    }
    .content-info{
        width: 90%;
        height: 90%;
        overflow: scroll;
        scrollbar-width: none;
        color: rgb(0, 0, 0);
    }
    .cuerpo-texto{
        width: 90%;
        height: 85%;
        margin-left: 5%;
        font-size: 12px;
    }
    .title-terminos{
        margin-top: 30px;
        font-size: 22px;
        text-align: center;
    }
    ol li, ul li{
        margin-left: -15px;
    }
    h2{
        font-size: 18px;
    }
    h4{
        margin-bottom: -7px;
    }
}