@import url(I-R-Mobile-S-320PX.css);
@import url(I-R-Mobile-M-375PX.css);
@import url(I-R-Mobile-L-425PX.css);
@import url(I-R-Tablet-768PX.css);
@import url(I-R-Laptop-1024PX.css);
@import url(I-R-Laptop-L-1440PX.css);
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 400vh;
    font-family: Arial, Helvetica, sans-serif;
}
/* toda esta parte sera el encabezado*/
:where(header){
    width: 100vw;
    height: 25vh;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: -webkit-image-set(
        url("/image/header/header.avif") type("image/avif"),
        url("/image/header/header.jpg") type("image/jpeg")
    );
    box-shadow: 1px 1px 3px  black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Para que quede sobre otros elementos */
}
.icon-logo{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    border-radius: 50%;
}
.logo{
    width: 100px;
    height: 100px;
    box-shadow: 0.5px 0.5px 10px  black;
    border-radius: 50%;
}
.title-header{
    width: 30%;
    height: 100px;
    background-color: rgb(107, 22, 11,0.2);
    box-shadow: 0.5px 0.5px 10px  black;
    border-radius: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*titulo de la pagina*/
.title-main-page{
    margin: 10px;
    text-align: center;
}
.nav-header{
    width: 50%;
    height: 100px;
    background-color: rgb(255, 255, 255,0.3);
    box-shadow: 0.5px 0.5px 10px  black;
    border-radius: 25px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*seccion del enlace del perfil*/
.S-A{
    width: 30%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    margin-right: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*seccion de la barra de busqueda*/
.S-buscador{
    background-color: rgba(0,0,0,0.5);
    border-radius: 25px;
    width: 60%;
    height: 80%;
    margin-left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*las dos seccion del buscador*/
.to-search, .search{
    height: 40%;
}
.to-search{
    margin-left: 5%;
    width: 70%;
    border-radius: 15px;
    border: none;
    box-shadow: 1px 1px 3px  black;
    font-size: 1.1rem;
}
.search{
    margin-left: 5%;
    margin-right: 5%;
    border: none;
    border-radius: 15px;
    height: 40%;
    width: 30%;
}
.search:hover{
    background-color: rgb(92, 9, 9);
    color: white;
    cursor: pointer;
}
.to-search:focus{
    outline: none;
}
/*contenedor de perfil*/
.div-profile{
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Texto TRu Perfil moderar el tamaño*/
.label-profile{
    font-size: 14px;
}
.profile-a{
    cursor: pointer;
    color: rgb(56, 0, 102);
}
.profile-a:hover{
    color: rgb(92, 9, 9);
}
/* hasta aqui termina lso estilos del encabezaado*/
/*Estilos para el area principal v*/
.difuminados{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}
:where(main){
    width: 100vw;
    height: 95%;
    margin-top: 25vh;
    overflow: hidden;
}
/* pie de pagina */
footer{
    background: linear-gradient(rgb(92, 9, 9) 0%, rgb(0, 0, 0)100%);
    width: 100vw;
    height: 5%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-title-contact, .nav-info-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 30%;
}
.div-title-contact{
    background-color: rgba(92, 92, 92, 0.5);
    height: 50%;
}
.nav-info-contact{
    height: 50%;
    background-color: rgba(92, 92, 92,0.5);
    margin-left: 50px;
}
ul{
    text-decoration: none;
    list-style: none;
    position: relative;
}
.a-gmail{
    color: white;
}
.a-gmail:hover{
    cursor: pointer;
    color: rgb(92, 9, 9);
}
li:nth-child(2){
    margin-top: 5px;
}
ul li{
    margin-left: -40px;
}

/*controles de movimiento*/
.div-controles-rigth, .div-controles-left{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
}
.div-controles-rigth, .div-controles-left{
    cursor: pointer;
}
.div-controles-rigth{
    left: 86.5%;
    top: 43%;
}
.div-controles-left{
    left: 1%;
    top: 26%;
}
/*Imganes de flechas*/
.img-arrow{
    width: 30px;
    height: 30px;
    padding: 5px;
    opacity: 0.9;
}

