@media (min-width: 1025px) and (max-width: 1440px) {
    body header{
        height: 20vh;
    }
    body main{
        margin-top: 20vh;
        scrollbar-width: none;
    }
    header :is(.icon-logo), header :is(.title-header), header :is(.nav-header){
        height: 80%;
    }
    .title-header .title-main-page{
        font-size: 30px;
    }
    /*Texto TRu Perfil moderar el tamaño*/
    .S-A .label-profile{
        font-size: 20px;
    }
    .div-profile .p-profile-header{
        font-size: 22px;
    }
    
    /*titulo de la pagina*/
    .title-main-page{
        font-size: 36px;
    }
    .nav-header .S-buscador .to-search{
        margin-left: 5%;
        width: 70%;
        font-size: 20px;
    }
    .S-buscador .search{
        font-size: 20px;
    }
    /*titulo del pie de pagina*/
     .h1-title{
        font-size: 24px;
        text-align: center;
    }
    /*enlaces de ruta*/
    .div-center-footer .a-gmail{
        font-size: 16px;
    }
    .search{
        font-size: 11px;
    }
    /*texto perfil*/
    .div-profile{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profile-a{
        padding-left: 5px;
    }
}