@media (min-width: 426px) and (max-width: 768px) {
    /*titulo de la pagina*/
    .title-main-page{
        font-size: 18px;
    }
    /*titulo del pie de pagina*/
    .h1-title{
        font-size: 20px;
        text-align: center;
    }
    /*enlaces de ruta*/
    .div-center-footer ul{
        font-size: 10px;
    }
    .search{
        font-size: 10px;
    }
    /*texto perfil*/
    .div-profile{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profile-a{
        padding-left: 5px;
    }
    .p-profile-header{
        text-align: center;
    }
    .section-title-general{
        font-size: 16px;
    }
    /*camisas difuminado....................................................*/
    :is(.div-camisas) .difuminado:nth-of-type(1){
        width: 200px;
        height: 200px;
    }
    :is(.div-camisas) .difuminado:nth-of-type(2){
        width: 100px;
        height: 100px;
    }
    :is(.div-camisas) .difuminado:nth-of-type(3){
        width: 300px;
        height: 300px;
    }
    /*camiPantalones difuminado....................................................*/
    :is(.div-pantalones) .difuminado:nth-of-type(1){
        width: 200px;
        height: 200px;
    }
    :is(.div-pantalones) .difuminado:nth-of-type(2){
        width: 100px;
        height: 100px;
    }
    :is(.div-pantalones) .difuminado:nth-of-type(3){
        width: 300px;
        height: 300px;
    }
    /*Perfumeria difuminado....................................................*/
    :is(.div-perfumeria) .difuminado:nth-of-type(1){
        width: 200px;
        height: 200px;
    }
    :is(.div-perfumeria) .difuminado:nth-of-type(2){
        width: 100px;
        height: 100px;
    }
    :is(.div-perfumeria) .difuminado:nth-of-type(3){
        width: 300px;
        height: 300px;
    }
}